[submodule "01AlternatingBlinkingLights"]
	path = 01AlternatingBlinkingLights
	url = https://github.com/RedNoseRedRose/XinChuang-Practice-BreadBoard-555-01AlternatingBlinkingLights.git
[submodule "02SymmetricalSquareWaveGenerator"]
	path = 02SymmetricalSquareWaveGenerator
	url = https://github.com/RedNoseRedRose/XinChuang-Practice-BreadBoard-555-02SymmetricalSquareWaveGenerator.git
[submodule "03PhotosensitiveSpeaker"]
	path = 03PhotosensitiveSpeaker
	url = https://github.com/RedNoseRedRose/XinChuang-Practice-BreadBoard-555-03PhotosensitiveSpeaker.git
[submodule "04ElectronicFirefly"]
	path = 04ElectronicFirefly
	url = https://github.com/RedNoseRedRose/XinChuang-Practice-BreadBoard-555-04ElectronicFirefly.git
